# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Flask
instance/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Terraform local cache and state
terraform/.terraform/
*.tfstate
*.tfstate.*
crash.log


.env
.venv/
__pycache__/
*.pyc
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/tfplanqwq